#root {
  width: 100%;
}

.bg-gradient {
  background-image: linear-gradient(to right, #5f403e, #574537, #35353d) !important;
}
.bg-coral {
  background-color: #b05c56;
}
.border-coral {
  border-color: #b05c56;
}
.text-coral {
  color: #b05c56;
}
.text-coral-light {
  color: #d6837f;
}
.hover\:bg-coral-darker:hover {
  background-color: #a44f4a;
}
.focus\:ring-bg-coral:focus {
  --tw-ring-color: #b05c56;
}