#root {
  width: 100%;
}

.card {
  background-color: #292929;
}

.bg-coral {
  background-color: #b05c56;
}
.border-coral {
  border-color: #b05c56;
}
.text-coral {
  color: #b05c56;
}
.text-coral-light {
  color: #d6837f;
}
.hover\:bg-coral-darker:hover {
  background-color: #8a453f;
}